<footer class="bg-light text-dark pt-5 pb-4">
  <div class="container text-md-start">
    <div class="row">
      <!-- About Us -->
      <div class="col-md-4 mb-4">
        <h6 class="text-uppercase fw-bold">About Us</h6>
        <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 50%; background-color: #7c4dff; height: 2px"/>
        <p>We provide top-notch services and support to our clients worldwide. <b>Wanderlust</b> is your trusted travel partner.</p>
      </div>

     <!-- Contact Info -->
      <div class="col-md-4 mb-4">
        <h6 class="text-uppercase fw-bold">Contact</h6>
        <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 50%; background-color: #7c4dff; height: 2px"/>
        <p><i class="fas fa-home me-2"></i> Banda, Uttar Pradesh, India</p>
        <p><i class="fas fa-envelope me-2"></i> abhishekkumar955588@gmail.com</p>
        <p><i class="fas fa-phone me-2"></i> +91 93355 87285</p>
        <p><i class="fa-brands fa-square-whatsapp me-2"></i> +91 93355 87285</p>
      </div> 

      <!-- Google Map -->
      <div class="col-md-4 mb-4">
        <h6 class="text-uppercase fw-bold">Find Us</h6>
        <hr class="mb-2 mt-0 d-inline-block mx-auto" style="width: 48%; background-color: #7c4dff; height: 2px"/>
        <div class="">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115258.02056931856!2d80.19703128475938!3d25.477914183535702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399cceefe1f614ff%3A0x53644b0b29880d03!2z4KSs4KS-4KSB4KSm4KS-LCDgpIngpKTgpY3gpKTgpLAg4KSq4KWN4KSw4KSm4KWH4KS2IDIxMDAwMQ!5e0!3m2!1shi!2sin!4v1756438074450!5m2!1shi!2sin" 
          width="200" 
          height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>

    <!-- Social & Branding -->
    <div class="row mt-4 align-items-center">
      <div class="col-md-6">
        <p class="mb-0">&copy; <b>2025 Wanderlust Private Limited.</b></p>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="#" class="text-dark me-3"><i class="fa-brands fa-square-facebook fa-lg"></i></a>
        <a href="#" class="text-dark me-3"><i class="fa-brands fa-square-instagram fa-lg"></i></a>
        <a href="#" class="text-dark me-3"><i class="fa-brands fa-linkedin fa-lg"></i></a>
        <a href="#" class="text-dark"><i class="fa-brands fa-github"></i></a>
      </div>
    </div>
  </div>
</footer>